* {
    margin: 0;
    padding: 0;
}

body {
    padding: 2.7rem 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container-paleta {
    max-width: 30rem;
    width: 100%;
    padding: .5rem;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -9px #000; 
    box-shadow: 0px 0px 16px -9px #000;
}

.paleta {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.cor {
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cor span {
    margin-top: .5rem;
}

.codCor {
    width: 100%;
    height: 3rem;
    margin-top: .5rem;
}

.container-layout {
    -webkit-box-shadow: 0px 0px 16px -5px #000; 
    box-shadow: 0px 0px 16px -5px #000;
    min-height: 35rem;
    max-width: 40rem;
    margin: 3rem 0;
    width: 100%;
    border-radius: 10px;
}

.container-layout header {
    width: 100%;
    background-color: var(--cor-0);
}

.container-layout nav {
    max-width: 29rem;
    width: 100%;
    height: 3rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item:hover {
    background-color: var(--cor-1);
}

.hover {
    background-color: var(--cor-1);
}

.nav_item-text {
    background-color: var(--cor-1);
    max-width: 5rem;
    width: 100%;
    height: .7rem;
}

section:nth-child(1) {
    background-color: var(--cor-1);
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ilustration {
    width: 7rem;
    height: 6rem;
    background-color: var(--cor-4);
}

.ilustration-header {
    height: 1.5rem;
    background-color: var(--cor-3);
}

.ilustration-main {
    margin-top: 1.5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ilustration_main-button {
    height: 1rem;
    width: 4rem;
    background-color: var(--cor-0);
}

.ilustration_main-button:hover {
    background-color: var(--cor-1);
}

section:nth-child(1) .ExampleText-container {
    width: 20rem;
    height: 6rem;
    margin-left: 2rem;
}

section:nth-child(1) .ExampleText-title {
    background-color: var(--cor-0);
    height: 1rem;
    width: 7rem;
}

section:nth-child(1) .ExampleText-text {
    height: 1rem;
    width: 100%;
    margin: .5rem 0;
    background-color: var(--cor-4);
}

section:nth-child(1) .ExampleText-text:nth-last-child(1) {
    width: 50%;
    margin: auto;
}

section:nth-child(2) {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

section:nth-child(2) .ExampleText-container {
    max-width: 29rem;
    width: 100%;
    height: 6rem;
}

section:nth-child(2) .ExampleText-title {
    background-color: var(--cor-3);
    height: 1rem;
    width: 100%;
}

section:nth-child(2) .ExampleText-text {
    height: 1rem;
    width: 100%;
    margin: .5rem 0;
    background-color: var(--cor-0);
}

section:nth-child(2) .ExampleText-text:nth-last-child(1) {
    width: 50%;
    margin: auto;
}

.cards {
    max-width: 29rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

.card-img {
    width: 100%;
    height: 5rem;
    background-color: var(--cor-0);
}

.card-title {
    background-color: var(--cor-3);
    height: 1rem;
    width: 100%;
    margin: .5rem 0 0 0;
}

.card-text {
    background-color: var(--cor-1);
    height: 1rem;
    width: 100%;
    margin: .5rem 0;
}

footer {
    background-color: var(--cor-2);
    height: 7rem;
}

.saidaPaleta {
    margin: 3rem 0;
}

@media screen and (max-width: 650px) {
    body {
        padding: 0 1rem;
    }

    .cards {
        max-width: 15rem;
        gap: 1rem;
    }

    section:nth-child(2) .ExampleText-container {
        max-width: 15rem;
    }

    section:nth-child(1) .ExampleText-container {
        max-width: 10rem;
    }

    section:nth-child(1) .ExampleText-text:nth-last-child(1) {
        width: 100%;
    }
}